<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/login_registration_page.css') }}"> -->

</head>
<body>
     <div class="container">
        welcome in the book search page 
     </div>
</body>
</html>